@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "Produse";
}

<div class="row mb-2 mt-2 operationsButtons" style="color:coral">
    <div class="col-md-12">
        <a href="/Product/New" class="btn btn-new btn-outline-new font-weight-bold mr-2" data-toggle="tooltip" title="Produs nou" data-placement="top" style="background-color:antiquewhite">
            <span class="fa fa-plus" style="background-color:antiquewhite"></span>
        </a>

        <button class="btn btn-outline-light font-weight-bold mr-2" data-toggle="tooltip" title="Edit" data-placement="top" onclick="Product.onEditBtnPress()" style="background-color:blanchedalmond">
            <span class="fa fa-edit" style="color:black" ></span>
        </button>

        <button type="button" class="btn btn-delete btn-outline-delete font-weight-bold mr-2" id="btnDelete" data-toggle="tooltip" data-placement="top" title="Delete" onclick="Product.onDelete()">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</div>

<br/><br/>

     <table id="table" class="table table-hover table-striped table-bordered table-light" style="background-color:lemonchiffon" >
         <thead>
             <tr>
                 <th hidden>Id Produs</th>
                 <th>Imagine</th>
                 <th>Produs</th>
                 <th>Pret</th>
                 <th>Este disponibil</th>
                 <th>Moneda</th>
             </tr>
         </thead>

         <tbody>

             @foreach (var item in Model)
              {
                 <tr id="@item.Id">
                     <td hidden>@item.Id</td>
                     <td><img style="width: 50%; height: 50%;" src="~/@item.ImagePath" alt="nu exista imagine momentan" /></td>
                     <td>@item.Name</td>
                     <td>@item.Price</td>
                     <td><input type="checkbox" checked="@item.IsAvailable" /></td>
                     <td>@item.Moneda</td>
                 </tr>
              }

         </tbody>

     </table>